body{
    margin: 0px;
    padding: 0px;
}

#container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#main-content{
    resize: none;
    display: block;
    width: 100%;
    height: 99%;
    background: #F0FFA5;
    overflow-y: auto;
    border: 0px;
}

#main-content:focus{
    outline: none;
}
